@import "../../global.scss";

.about {
    background-color: #FEFAE0;
    overflow: hidden !important;
    display: flex; //same row

    @include mobile {
        flex-direction: row;
        align-items: center;
    }

    .imgContainer {
        flex: 0.55;
        width: 700px;
        height: 700px;
        overflow-y: auto;
        overflow-x: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        @include mobile {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -200px;
        overflow: hidden !important;

        h2 {
            font-weight: bold;
            overflow: hidden;
            flex-direction: row;
        }
    
        p {
            font-size: 20px;
            margin-right: 100px;
            margin-left: 100px;
            overflow: hidden;
            //overflow-x:visible;

            @include mobile {
                font-size: 2rem;
                font: bold;
                overflow: hidden;
            }

        }

        a {
            overflow: hidden;
            color: #457b9d;
            font-weight: bold;
        }
    }
}