@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root
{
  --font-color: #FAEDCD;
}

body
{
  font-family: "Roboto Condensed" sans-serif;
  background-color: #E9EDC9 !important;
}


/********** Navbar **********/

/********** Menu Links **********/
nav a.nav-link
{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li
{
  text-transform: uppercase;
}

.navbar-nav > li > a
{
  color: var(font-color) !important;
}